.main {
  flex: 1 1 auto;
  width: 100%;
  font-size: 2rem;
  .main__header {
    width: 100%;
    margin-top: 3.3rem;
    background:
            linear-gradient(90deg, rgba(255,255,255,1) 26.64%, rgba(0,255,240,0) 100%),
            url("../img/main-bg.png") no-repeat 100% 0 / cover;
    @media (max-width: convertPx-em(1000)) {
      background: (white !important);
    }
    .main__header-container {
      display: flex;
      justify-content: space-between;
      @media (max-width: convertPx-em(1000)) {
        position: relative;
        flex-direction: column;
        &.container {
          padding: 0;
          max-width: 100%;
        }
      }
      .main__header-info-container {
        max-width: 100%;
        display: flex;
        @media (max-width: convertPx-em(1000)) {
          padding: 0 $container_padding 18.8rem $container_padding;
          background:
                  linear-gradient(90deg, rgba(255,255,255,1) 26.64%, rgba(0,255,240,0) 100%),
                  url("../img/main-bg.png") no-repeat 100% 0 / cover;
        }
        @media (max-width: convertPx-em(550)) {
          padding: 0 $container_padding 19.6rem $container_padding;
          background:
                  linear-gradient(90deg, rgba(255,255,255,1) 0, rgba(0,255,240,0) 130%),
                  url("../img/main-bg.png") no-repeat 100% 0 / cover;
        }
        .main__header-info {
          flex: 0 1 73%;
          @media (max-width: convertPx-em(1000)) {
            flex: 0 1 68%;
          }
          @media (max-width: convertPx-em(550)) {
            flex: 0 1 100%;
          }
          .main__header-title {
            margin: 3rem 0 0 0;

            content: $black_color;
            font-weight: bold;
            font-size: 6rem;
            line-height: 116%;
            text-transform: uppercase;
            @media (max-width: convertPx-em(1000)) {
              font-size: 5.2rem;
              line-height: 117%;
            }
            @media (max-width: convertPx-em(550)) {
              font-size: 3.4rem;
              margin: 4.3rem 0 0 0;
            }
          }
          .main__header-price {
            margin: 3.1rem 0 0 0;

            color: $black_color;
            font-weight: bold;
            font-size: 4.4rem;
            line-height: 118%;
            @media (max-width: convertPx-em(1000)) {
              font-size: 3rem;
              line-height: 117%;
              margin: 1.3rem 0 0 0;
            }
            @media (max-width: convertPx-em(550)) {
              margin: 2.4rem 0 0 0;
            }
            span {
              color: white;
              font-size: 6rem;
              line-height: 116%;
              padding: 0 1rem;

              background-color: $light_green_color;
              border-radius: 1rem;
              @media (max-width: convertPx-em(1000)) {
                font-size: 5.2rem;
                line-height: 117%;
              }
            }
          }
          .main__header-properties {
            margin: 6.4rem 0 0 0;
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(2, min-content);
            gap: 2.6rem;
            @media (max-width: convertPx-em(1000)) {
              margin: 3.2rem 0 0 0;
            }
            @media (max-width: convertPx-em(550)) {
              margin: 5.5rem 0 0 0;
              gap: 2.4rem 4.5rem;
            }
            .main__header-property {
              margin: 0 4.5rem 0 0;
              @media (max-width: convertPx-em(550)) {
                margin: 0;
              }
              &:nth-child(1) {
                .main__header-property-img {
                  &:after {
                    left: auto;
                    right: 0;
                  }
                }
              }
              &:nth-child(2), &:nth-child(3) {
                .main__header-property-img {
                  &:after {
                    left: 50%;
                    transform: translate(-50%, 10%);
                    top: auto;
                    bottom: 0;
                  }
                }
              }
              &:nth-child(4) {
                .main__header-property-img {
                  &:after {
                    left: 50%;
                    transform: translate(0, -50%);
                    top: auto;
                    bottom: 0;
                  }
                }
              }
              &>*:not(:last-child) {
                margin: 0 0 0.8rem 0;
              }
              .main__header-property-img {
                max-width: 6rem;
                min-width: 6rem;
                position: relative;
                &:after {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 2rem;
                  height: 2rem;
                  background-color: $light_green_color;
                  border-radius: 100%;
                  opacity: 0.7;
                }
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                }
              }
              .main__header-property-text {
                font-weight: bold;
                font-size: 1.8rem;
                line-height: 116%;
              }
            }
          }
        }
      }

      .main__header-calc-container {
        flex: 1 1 52%;
        @media (max-width: convertPx-em(1000)) {
          flex: 1 1 100%;
          transform: translate(0, -20%);
          padding: 0 4.6rem;
          margin-bottom: -10%;
        }
        @media (max-width: convertPx-em(550)) {
          flex: 1 1 100%;
          transform: translate(0, -18%);
          padding: .4rem;
          margin-bottom: -28%;
        }
        .main__header-calc {
          width: 100%;
          background-color: white;
          border-radius: .7rem;
          padding: 3.8rem 0 4.2rem 0;
          margin: 0 0 2.4rem 0;
          @media (max-width: convertPx-em(1000)) {
            width: 100%;
            padding: 3.8rem 0 6.2rem 0;
            margin: 0;
          }
          @media (max-width: convertPx-em(550)) {
            padding: 3.6rem 0 2.9rem 0;
            margin: 0;
          }
          .main__header-calc-title {
            margin: 0 2.4rem 2.8rem 5.5rem;

            contain: $black_color;
            font-weight: 900;
            font-size: 2rem;
            line-height: 115%;
            text-transform: uppercase;
            @media (max-width: convertPx-em(1000)) {
              max-width: 58%;
              margin: 0 3.5rem 2.8rem 3rem;
              font-size: 2.2rem;
              line-height: 118%;
            }
            @media (max-width: convertPx-em(550)) {
              max-width: 100%;
              margin: 0 3.6rem 2.8rem 1.1rem;
            }
          }
          .main__header-calc-body {
            .main__form {
              .main__form-container {
                padding: 0 5.3rem;
                @media (max-width: convertPx-em(1000)) {
                  padding: 0 3.5rem 0 3rem;
                  display: flex;
                  flex-wrap: wrap;
                  &>*:nth-child(odd) {
                    flex: 1 1 60%;
                  }
                  &>*:nth-child(even) {
                    flex: 1 1 40%;
                  }
                }
                @media (max-width: convertPx-em(550)) {
                  display: flex;
                  flex-direction: column;
                  padding: 0 1.6rem 0 1.1rem;
                  &>*:nth-child(odd) {
                    flex: 1 1 100%;
                  }
                  &>*:nth-child(even) {
                    flex: 1 1 100%;
                  }
                }
              }
              .main__form-option {
                @media (min-width: convertPx-em(1001)) {
                  &:not(:last-child) {
                    margin-bottom: 1.8rem;
                    padding-bottom: 1.8rem;
                    border-bottom: 1px solid #D6D6D6;;
                  }
                }
                @media (max-width: convertPx-em(1000)) {
                  &:not(:nth-last-child(-n+2)){
                    margin-bottom: 1.8rem;
                    padding-bottom: 1.8rem;
                    border-bottom: 1px solid #D6D6D6;;
                  }
                }
                @media (max-width: convertPx-em(550)) {
                  &:not(:last-child) {
                    margin-bottom: 1.6rem;
                    padding-bottom: 2.2rem;
                    border-bottom: 1px solid #D6D6D6;;
                  }
                }
                .main__form-option-submit {
                  @media (max-width: convertPx-em(550)) {
                    display: flex;
                    flex-direction: column;
                    &>*:first-child {
                      padding: 0;
                    }
                    &>*:not(:last-child) {
                      margin: 0 0 1.2rem 0;
                    }
                  }
                }
                .main__option-body {
                  display: grid;
                  grid-template-columns: 1fr 1fr;
                  grid-template-rows: auto;
                  gap: 1rem 0;
                  @media (max-width: convertPx-em(1000)) {
                    display: flex;
                    flex-wrap: wrap;
                    &>* {
                     flex: 1 1 50%;
                    }
                  }
                }
              }
              .main__form-info {
                background: #F2F2F2;
                display: flex;
                padding: 1.7rem 5.5rem;
                margin: 2.4rem 0 1.9rem 0;
                @media (max-width: convertPx-em(1000)) {
                  margin: 3.4rem 0 2.6rem 0;
                  padding: 1.8rem 2.8rem;
                }
                @media (max-width: convertPx-em(550)) {
                  margin: 2.8rem 0 1.5rem 0;
                  padding: 1.6rem 1.8rem;
                }
                .main__form-info-item {
                  flex: 1 1 auto;
                  color: $light_blue_color;
                  @media (max-width: convertPx-em(1000)) {
                    flex: 1 1 40%;
                    &:nth-child(odd) {
                      flex: 1 1 60%;
                    }
                  }
                  @media (max-width: convertPx-em(551)) {
                    flex: 1 1 auto;
                    &:nth-child(odd) {
                      flex: 1 1 auto;
                    }
                  }
                  h5 {
                    font-size: 1.6rem;
                    line-height: 118.75%;
                  }
                  span {
                    font-weight: bold;
                    font-size: 1.8rem;
                    line-height: 116%;
                  }
                }
              }
              .main__form-submit-button {
                width: 40%;
                padding: 1.3rem 2rem;

                color: white;
                font-size: 1.8rem;
                line-height: 116%;

                border-radius: 4px;
                background-color: $light_green_color;
                @media (max-width: convertPx-em(550)) {
                  width: 100%;
                }
              }
            }

          }
        }
      }

    }

  }
  .main__body {
    .main__body-container{
      max-width: 122rem;
      margin: 0 auto;
    }
    >:nth-child(even) {
      background-color: #F8F8F8;
    }
  }
  .main__section {
    &.main__section_repair {
      .section__title {
        margin: 7.3rem 0 0 0;
      }
    }
    &.main__section_example {
      .section__title {
        padding: 5.3rem 0 0 0;
      }
    }
    .main__section-body {
      &.main__section-body_repair {
        margin-top: 4.8rem;
        @media (max-width: convertPx-em(1220)) {
          margin: 4.8rem -1.6rem 0 -1.6rem;
        }
      }
      &.main__section-body_example {
        margin: 7rem 0 0 0;
        display: flex;
        flex-direction: column;
        padding: 0 0 6rem 0;
        .main__example-slider-buttons {
          display: flex;
          flex-wrap: wrap;
          &>*:not(:last-child) {
            margin: 0 .4rem 0 0;
          }
          li {
            flex: 1 1 auto;
            cursor: pointer;
            background-color: #E6E6E6;
            padding: 1.5rem;
            border-radius: .4rem;
            text-align: center;
            &.active {
              background-color: $light_blue_color;
              a {
                background-color: white;
              }
            }
            a {
              font-weight: 700;
              font-size: 1.6rem;
              line-height: 118.75%;
              color: #595959;
            }
          }
        }
      }
    }
  }
  .main__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Точки (булиты) */
    .slick-dots{
      display: flex;
    }
    .slick-dots li{
      position: relative;
      list-style: none;
      cursor: pointer;
      width: 1.8rem;
      height: 1.8rem;
      background-color: #F2F2F2;
      border-radius: 100%;
      border: 2px solid $light_blue_color;
      &:not(:last-child) {
        margin: 0 1rem 0 0;
      }
      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: transparent;
        transition: all 0.5s ease;
      }
    }
    /* Активная точка */
    .slick-dots li.slick-active{
      &:before {
        background-color: $light_blue_color;
      }
    }
    /* Элемент точки */
    .slick-dots li button{
      display: none;
    }
    &.main__slider_repair {
      /* Слайдер */
      .slick-slider{
        min-width: 0;
        display: flex;
        flex-direction: column;
      }
      /* Ограничивающая оболочка */
      .slick-list {
        overflow: hidden;
        margin: 0 -1rem;
        width: 100%;
      }
      /* Лента слайдов */
      .slick-track{
        display: flex;
        min-height: 100%;
        /* для динамической высоты */
        //align-items: flex-start;
        &>*:not(:last-child) &>*:not(:first-child) {
          margin: 0 2.1rem 0 0;
        }
      }
      /* Слайд */
      .slick-slide{
        flex: 1 1 100%;
        min-height: 100%;
        margin: 0 1rem;
      }
      .slick-dots{
        margin: 3.2rem 0 0 0;
      }
    }
    &.main__slider_example {
      /* Слайдер */
      .slick-slider{
        min-width: 0;
        display: flex;
        flex-direction: column;
      }
      /* Ограничивающая оболочка */
      .slick-list {
        overflow: hidden;
        margin: 3.1rem 0 0 0;
        width: 100%;
      }
      /* Лента слайдов */
      .slick-track{
        display: flex;
        min-height: 100%;
        /* для динамической высоты */
        //align-items: flex-start;
        &>*:not(:last-child) &>*:not(:first-child) {
          margin: 0 2.1rem 0 0;
        }
      }
      /* Слайд */
      .slick-slide{
        flex: 1 1 100%;
        min-height: 100%;
        margin: 0 1rem;
      }
      .slick-dots{
        order: -1;
        margin: 3.4rem 0 0 0;
      }
    }
    .main__slider-item {

      &.main__slider-item_repair {
        flex: 1 1 auto;
        $container_padding_left: 2.7rem;
        $container_padding_right: 2rem;
        display: flex;
        min-height: 100%;
        flex-direction: column;
        border-radius: 1.6rem;
        background-color: white;
        overflow: hidden;
        box-shadow: (0px 0px 10px rgba(147, 147, 147, 0.25));
        padding-bottom: 3.1rem;
        .main__slider-header {
          display: flex;
          align-items: center;
          background: #E3EAEF;
          padding: 1.4rem $container_padding;
          .main__slider-header-img {
            width: 5.7rem;
            height: 5.7rem;
            border-radius: 100%;
            img, source {
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              border-radius: 100%;
              object-fit: cover;
            }
          }
          .main__slider-header-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: .4rem 0;
            margin-left: .4rem;
            h5 {
              font-weight: 700;
              font-size: 1.8rem;
              line-height: 116%;
              text-transform: uppercase;
              color: $focus_light_green_color;
            }
            span {
              font-weight: bold;
              font-size: 1.4rem;
              line-height: 114%;
              color: $black_color;
            }
          }
        }
        .main__slider-body {
          flex: 1 1 auto;
          display: flex;
          flex-direction: column;
        }
        .main__slider-description {
          flex: 1 1 auto;
          padding: 2.4rem $container_padding_right 1.1rem $container_padding_left;
          border-bottom: 0.2rem solid $light_blue_color;
          transition: height 0.5s ease;
          p {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 114%;
            color: $black_color;

          }
        }
        .main__slider-list {
          padding: 1.5rem $container_padding_right 0 $container_padding_left;
          &>ul {
            position: relative;
            max-height: 16.6rem;
            overflow: hidden;
            transition: all 0.6s ease;
            &.active {
              max-height: 50rem;
              &>li {
                h6 {
                  &.grey {
                    color: $black_color;
                  }
                }
              }
              .main__slider-sublist {
                li {
                  &.grey {
                    background: url("../img/check.svg") 0 0 no-repeat;
                    color: $black_color;
                  }
                }
              }
            }
            &>li {
              padding-bottom: 1.9rem;
              h6 {
                font-weight: 700;
                font-size: 1.4rem;
                line-height: 114%;
                padding: 0 0 0.9rem 0;
                transition: color 0.5s ease;
                &.grey {
                  color: #C4C4C4;
                }
              }
            }
          }
          .main__slider-list-button {
            margin: 2.4rem 0 0 0;
            display: flex;
            justify-content: center;
            &.active {
              a {
                &:after {
                  transform: scaleY(-1) translate(0, 50%);
                }
              }
            }
            a {
              position: relative;
              cursor: pointer;
              font-weight: 700;
              font-size: 1.8rem;
              line-height: 116%;
              color: $light_blue_color;
              &:after {
                content: "";
                position: absolute;
                display: inline-block;
                vertical-align: middle;
                top: 50%;
                left: 100%; // Либо 0 либо 100
                transform: translate(0, -50%);
                transition: all 0.5s ease;
                // размеры
                width: 1.1rem;
                height: 1.1rem;
                // отступ от контента
                margin: 0 0 0 0.4rem;
                // иконка
                background: url('../img/open-arrow.svg') no-repeat center / contain;
              }
            }
          }
        }
        .main__slider-sublist {
          li {
            background: url("../img/check.svg") 0 0 no-repeat;
            padding-left: 1.6rem;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 114%;
            &.grey {
              background: url("../img/check-grey.svg") 0 0 no-repeat;
              color: #C4C4C4;
            }
            &:not(:last-child) {
              padding-bottom: 0.6rem;
            }
          }
        }
        .main__slider-price {
          display: flex;
          flex-wrap: wrap;
          text-align: center;
          justify-content: center;
          margin: 1rem 0 0 0;
          padding: 0 $container_padding_right 0 $container_padding_left;
          .main__slider-old-price {
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 1.6rem;
            text-decoration-line: line-through;
            margin: 0 .6rem 0 0;
            padding-bottom: 0.5rem;
            span {
              font-weight: 700;
            }
          }
          .main__slider-new-price {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 118.75%;
            color: $light_green_color;
            span {
              font-size: 1.8rem;
            }
          }
        }
        .main__slider-button {
          margin: 2rem 0 0 0;
          padding: 0 4.9rem;
        }
      }
      &.main__slider-item_example {
        display: flex;
        flex-direction: column;
        .main__slider-content {
          display: flex;
        }
        .main__slider-images {
          position: relative;
          padding: 0 0 0 10.2rem;
          .main__slider-img-list {
            position: absolute;
            top: 0;
            left: 0;
            &>*:not(:last-child) {
              margin: 0 0 .6rem 0;
            }
            li {
              cursor: pointer;
              width: 8.2rem;
              height: 5.8rem;
              background-color: #C4C4C4;
              border: .2px solid #595959;
              border-radius: .2rem;
              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
          .main__slider-big-img {
            background-color: white;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              border-radius: .6px;
              object-fit: cover;
            }
          }
        }
        .main__slider-list {
          flex: 1 1 50%;
          padding: 5.6rem;
          background-color: white;
          .main__slider-list-item {
            display: flex;
            &.main__slider-list-item_sub {
              flex-direction: column;
            }
            &:not(:last-child) {
              margin: 0 0 .6rem 0;
            }
            &>* {
              flex: 0 1 100%;
            }
          }
          .main__slider-list-title {
            display: flex;
            font-size: 1.6rem;
            line-height: 118.75%;
            color: #595959;
            .main__slider-list-title-img {
              width: 1.7rem;
              height: 1.7rem;
              margin: 0 .7rem 0 0;
              img {
                min-width: 100%;
                min-height: 100%;
                object-fit: contain;
              }
            }
            span {
              &:after {
                content: ":";
              }
            }
          }
          .main__slider-list-info {
            justify-self: end;
            font-weight: 700;
            font-size: 1.6rem;
            line-height: 118.75%;
            color: $black_color;
            .rub {
              &:after {
                content: " руб.";
              }
            }
            .meter {
              &:after {
                content: " м2";
              }
            }
            .day {
              &.first:after {
                content: " день";
              }
              &.second:after {
                content: " дня";
              }
              &.third:after {
                content: " дней";
              }
            }
          }
          .main__slider-sublist {
            margin: .6rem 0 0 2.4rem;
            li {
              position: relative;
              font-size: 1.4rem;
              line-height: 129%;
              color: $black_color;
              padding: 0 0 0 1rem;
              &:before {
                content: "";
                position: absolute;
                display: inline-block;
                vertical-align: middle;
                border-radius: 100%;
                top: 50%;
                left: 0; // Либо 0 либо 100
                transform: translate(0, -50%);
                width: .3rem;
                height: .3rem;
                background-color: $black_color;
              }
            }
          }
        }
        .main__slider-button {
          margin: 3.1rem auto 0 auto;
          a {
            padding: 1.4rem 3.1rem;
          }
        }
      }
    }
  }

}