.burger {
  .burger__body {
    display: none;

    @media (max-width: convertPx-em(700)) {
      display: block;
    }
    .burger__button {
      position: relative;
      width: 3.5rem;
      height: 2rem;

      span {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(0, -50%);

        width: 100%;
        height: 0.4rem;

        background-color: $light_blue_color;
        border-radius: 0.1rem;
      }
      &:before,&:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 0.4rem;

        background-color: $light_blue_color;
        border-radius: 0.1rem;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
      @media (min-width: convertPx-em(700)) {
        display: none;
      }
    }
  }

  .burger__menu {
    @media (max-width: convertPx-em(700)) {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      &.active {
        z-index: 3;
        background: rgba(32, 10, 10, 0.55);
      }
    }
    .burger__menu-exit {
      display: none;
      @media (max-width: convertPx-em(700)) {
        display: block;
        position: absolute;
        width: 4rem;
        height: 4rem;
        top: 0;
        left: 0;
        &:before, &:after {
          content: "";
          position: absolute;
          z-index: 3;
          top: 50%;
          left: 50%;
          width: 2rem;
          height: .2rem;
          background-color: white;
          border-radius: 100%;
          transform: translate(-50%, 0) rotate(45deg);
        }
        &:before {
          transform: translate(-50%, 0) rotate(-45deg);
        }
      }
    }
    .burger__menu-body {
      @media (max-width: convertPx-em(700)) {
        max-width: 80%;
        background-color: white;
        position: fixed;
        top: 0;
        right: -100%;
        transition: all 0.4s ease;
        z-index: 99;
        &.active {
          overflow: auto;
          right: 0;
        }
      }
    }
  }

}
