@use "sass:math";

$light_green_color: #6cac3d;
$hover_light_green_color: #82C054;
$focus_light_green_color: #52971F;
$light_blue_color: #2d4872;
$dark_gray_color: #C4C4C4;
$light_gray_color: #F2F2F2;
$black_color: #171616;

@function convertPx-em($px) {
  @return math.div($px, 16) + 'em';
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}

