.slider {
  position: relative;

  &.swiper {
    display: flex;
    flex-direction: column;
  }

  .swiper-pagination {
    position: relative;
    padding: 3.2rem;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
  }

  .swiper-pagination-bullet {
    position: relative;
    list-style: none;
    cursor: pointer;
    width: 1.8rem;
    height: 1.8rem;
    background-color: #F2F2F2;
    border-radius: 100%;
    border: .2rem solid $light_blue_color;
    &:not(:last-child) {
      margin: 0 1rem 0 0;
    }
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 1rem;
      height: 1rem;
      border-radius: 100%;
      background-color: transparent;
      transition: all 0.5s ease;
    }
  }

  .swiper-pagination-bullet-active {
    &:before {
      background-color: $light_blue_color;
    }
  }

  .slider__item {

  }

  .slider__pagination {

  }

  .slider__wrapper {

  }

  .swiper-slide {
    height: auto;
  }

  .slider__item {

  }

}

.slider-repair {
  $container_padding_left: 2.7rem;
  $container_padding_right: 2rem;
  min-width: 0;
  display: flex;

  &.swiper {
    overflow: visible;
    padding: 1rem;
  }

  .slider-repair__wrapper {
    display: flex;
  }

  .slider-repair__pagination {

  }

  .slider-repair__item {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    border-radius: 1.6rem;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(147, 147, 147, 0.25);
    padding-bottom: 3.1rem;

  }

  .slider-repair__header {
    display: flex;
    align-items: center;
    background: #E3EAEF;
    padding: 1.4rem $container_padding;
  }

  .slider-repair__header-img {
    width: 5.7rem;
    height: 5.7rem;
    border-radius: 100%;
    img, source {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  .slider-repair__header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem 0;
    margin-left: .4rem;
    h5 {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 116%;
      text-transform: uppercase;
      color: $focus_light_green_color;
    }
    span {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 114%;
      color: $black_color;
    }
  }

  .slider-repair__title {

  }

  .slider-repair__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .slider-repair__description {
    flex: 1 1 auto;
    padding: 2.4rem $container_padding_right 1.1rem $container_padding_left;
    border-bottom: 0.2rem solid $light_blue_color;
    transition: height 0.5s ease;
    p {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 114%;
      color: $black_color;

    }
  }

  .slider-repair__list {
    padding: 1.5rem $container_padding_right 0 $container_padding_left;
    &>ul {
      position: relative;
      max-height: 16.6rem;
      overflow: hidden;
      transition: all 0.6s ease;
      &.active {
        max-height: 50rem;
        &>li {
          h6 {
            &.grey {
              color: $black_color;
            }
          }
        }
        .slider-repair__sublist {
          li {
            &.grey {
              background: url("~@img/check.svg") 0 0 no-repeat;
              color: $black_color;
            }
          }
        }
      }
      &>li {
        padding-bottom: 1.9rem;
        h6 {
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 114%;
          padding: 0 0 0.9rem 0;
          transition: color 0.5s ease;
          &.grey {
            color: #C4C4C4;
          }
        }
      }
    }
    .slider-repair__list-button {

    }
  }

  .slider-repair__sublist {
    li {
      background: url("~@img/check.svg") 0 0 no-repeat;
      padding-left: 1.6rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 114%;
      &.grey {
        background: url("~@img/check-grey.svg") 0 0 no-repeat;
        color: #C4C4C4;
      }
      &:not(:last-child) {
        padding-bottom: 0.6rem;
      }
    }
  }

  .slider-repair__price {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 1rem 0 0 0;
    padding: 0 $container_padding_right 0 $container_padding_left;
  }

  .slider-repair__old-price {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-decoration-line: line-through;
    margin: 0 .6rem 0 0;
    padding-bottom: 0.5rem;
    span {
      font-weight: 700;
    }
  }

  .slider-repair__new-price {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 118.75%;
    color: $light_green_color;
    span {
      font-size: 1.8rem;
    }
  }

  .slider-repair__button {
    margin: 2rem 0 0 0;
    padding: 0 4.9rem;
  }
}

.slider-example {


  &.swiper {

  }

  .slider-example__wrapper {

  }

  .slider-example__item {

  }
}