//                                         Слайдер
.slider {
  position: relative;
  min-width: 0;
  min-height: 0;

  &.swiper {
    display: flex;
    flex-direction: column;
  }

  .swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination-bullet {
    opacity: 1;
    padding: 3.2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: min-content;
    height: min-content;
    transition: background-color, color, border .5s ease;

    &:hover {
      .slider__bullet-button {
        border-color: #7094B0;
      }
    }

    &:not(:last-child) {
      margin: 0 1rem 0 0;
    }

    &>*:not(:last-child) {
      margin-right: 1.3rem;
    }

    .slider__bullet-button {
      opacity: 1;
      position: relative;
      list-style: none;
      cursor: pointer;
      width: 1.8rem;
      height: 1.8rem;
      background-color: $light_gray_color;
      border-radius: 100%;
      border: .2rem solid #CCCCCC;
      transition: inherit;

      &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1rem;
        height: 1rem;
        border-radius: 100%;
        background-color: transparent;
        transition: inherit;
      }
    }

    .slider__bullet-text {
      opacity: 1;
      font-size: 1.4rem;
      line-height: 114%;
      color: #595959;

      width: max-content;
      transition: inherit;
    }

  }

  .swiper-pagination-bullet-active {
    &:hover {
      .slider__bullet-button {
        border-color: $dark_blue_color;
      }
    }

    .slider__bullet-button {
      border: .2rem solid $dark_blue_color;
      &:before {

        background-color: $dark_blue_color;
      }
    }

    .slider__bullet-text {
      font-weight: 700;
      color: $black_color;
    }
  }

  .slider__item {

  }

  .slider__pagination {

  }

  .slider__wrapper {

  }

  .swiper-slide {
    height: auto;
  }

  .slider__item {

  }

}

//                                        Слайдер repair
.slider-repair {
  $container_padding_left: 2.7rem;
  $container_padding_right: 2rem;
  display: flex;

  &.swiper {
    overflow: visible;
    padding: 1rem;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
  }


  .slider-repair__wrapper {
    display: flex;
  }

  .slider-repair__pagination {

  }

  .slider-repair__item {
    display: flex;
    min-height: 100%;
    flex-direction: column;
    border-radius: 1.6rem;
    background-color: white;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(147, 147, 147, 0.25);
    padding-bottom: 3.1rem;

  }

  .slider-repair__header {
    display: flex;
    align-items: center;
    background: #E3EAEF;
    padding: 1.4rem $container_padding_left;
  }

  .slider-repair__header-img {
    width: 5.7rem;
    min-width: 5.7rem;
    height: 5.7rem;
    border-radius: 100%;
    img, source {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
      object-fit: cover;
    }
  }

  .slider-repair__header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .4rem 0;
    margin-left: .4rem;
    h5 {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 116%;
      text-transform: uppercase;
      color: $focus_light_green_color;
    }
    span {
      font-weight: bold;
      font-size: 1.4rem;
      line-height: 114%;
      color: $black_color;
    }
  }

  .slider-repair__title {

  }

  .slider-repair__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  .slider-repair__description {
    flex: 1 1 auto;
    padding: 2.4rem $container_padding_right 1.1rem $container_padding_left;
    border-bottom: 0.2rem solid $dark_blue_color;
    transition: height 0.5s ease;
    p {
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 114%;
      color: $black_color;

    }
  }

  .slider-repair__list {
    padding: 1.5rem $container_padding_right 0 $container_padding_left;
    &>ul {
      max-height: 16.6rem;
      &.active {
        max-height: 50rem;
        transition: all 1.3s ease;
        &>li {
          h6 {
            &.grey {
              color: $black_color;
            }
          }
        }
        .slider-repair__sublist {
          li {
            &.grey {
              background: url("~@img/check.svg") 0 0 no-repeat;
              color: $black_color;
            }
          }
        }
      }
      &>li {
        padding-bottom: 1.9rem;
        h6 {
          font-weight: 700;
          font-size: 1.4rem;
          line-height: 114%;
          padding: 0 0 0.9rem 0;
          transition: color 0.5s ease;
          &.grey {
            color: #C4C4C4;
          }
        }
      }
    }

    .slider-repair__sublist {
      li {
        background: url("~@img/check.svg") 0 0 no-repeat;
        padding-left: 1.6rem;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 114%;
        &.grey {
          background: url("~@img/check-grey.svg") 0 0 no-repeat;
          color: #C4C4C4;
        }
        &:not(:last-child) {
          padding-bottom: 0.6rem;
        }
      }
    }

    .slider-repair__list-button {
      margin: 2.4rem 0 0 0;
      display: flex;
      justify-content: center;
      a {
        font-weight: 700;
        font-size: 1.8rem;
        line-height: 116%;
        color: $dark_blue_color;
      }
    }

  }

  .slider-repair__price {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: 1rem 0 0 0;
    padding: 0 $container_padding_right 0 $container_padding_left;
  }

  .slider-repair__old-price {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-decoration-line: line-through;
    margin: 0 .6rem 0 0;
    padding-bottom: 0.5rem;
    span {
      font-weight: 700;
    }
  }

  .slider-repair__new-price {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 118.75%;
    color: $light_green_color;
    span {
      font-size: 1.8rem;
    }
  }

  .slider-repair__button {
    margin: 2rem 0 0 0;
    padding: 0 4.9rem;
  }
}

//                                         Слайдер example
.slider-example {
  $preview-image-width: 8.2rem;
  $preview-image-height: 5.8rem;

  &.swiper {
    margin: -2rem -5rem;
    padding: 2rem 5rem;
  }

  &.swiper-wrapper {

  }
  .slider-example__wrapper {

  }

  .swiper-pagination-bullet-active {
    font-weight: 700;
  }

  .slider-example__pagination {
    display: flex;
    justify-content: center;
    align-items: center;

    &>*:not(:last-child) {
      margin-right: 3.1rem;;
    }
  }

  .slider-example__bullet {

  }

  .slider-example__bullet-text {;

  }

  .slider-example__button-prev {
    color: $black_color;
    top: 55%;
  }

  .slider-example__button-next {
    color: $black_color;
    top: 55%;
    right: 1%;
  }

  .slider-example__item {
    position: relative;
    padding-left:  $preview-image-width + 2rem;
  }

  .slider-example__item-shadow {
    display: flex;
    box-shadow: 2px 2px 15px 2px #DFDFDF;
    box-shadow: 2px 2px 15px 2px red;
    border-radius: .6rem;
  }

  .slider-example__image-content {
    flex: 1 1 100%;
  }

  .slider-example__image-preview-slider {
    position: absolute;
    top: 0;
    left:  0;
    z-index: 2;
    height: 100%;
  }

  .slider-example__image-slider {
    width: 100%;
    border-radius: .6rem;
  }

  .slider-example__slide-wrapper {

  }

  .slider-example__preview-item {
    cursor: pointer;
    position: relative;
    width:$preview-image-width;
    height: $preview-image-height;
    min-height:$preview-image-height ;
    max-height: $preview-image-height;
    border: 2px solid #595959;
    background-color:  #C4C4C4;
    border-radius: 2px;
  }

  .slider-example__preview-slide-img {

  }

  .slider-example__content-item {
    position: relative;
    width: 100%;
  }

  .slider-example__content-slide-img {

  }

  .slider-example__list {
    padding: 5.8rem 7rem;

  }

  .slider-example__list-item {

  }

  .slider-example__list-title {
    position: relative;
    display: flex;
    font-size: 1.6rem;
    line-height: 118.75%;
    color: #595959;
    span {
      &:after {
        content: ":";
      }
    }
  }

  .slider-example__list-title-img {
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    margin-left: -2.4rem;
  }

  .slider-example__list-info {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 118.75%;
    color: $black_color;
  }

  .slider-example__sublist {
    flex: 1 1 100%;
  }
}

//                                         Слайдер c превью
.slider-with-preview {
  display: flex;


  &.swiper {

  }

  .slider-with-preview__preview-wrapper {

  }

  .slider-with-preview__preview {


    &.swiper {

    }

  }

  .slider-with-preview__preview-item {

    &.swiper-slide {

    }
  }

  .slider-with-preview__preview-wrapper {

  }

  .slider-with-preview__content {

    &.swiper {

    }
  }

  .slider-with-preview__content-wrapper {

  }

  .slider-with-preview__content-item {

  }
}
