<footer class="footer">
    <div class="container">
        <div class="footer__body">
            <div class="footer__body-item footer__body-item_logo">
                <div class="footer__logo">
                    <img src="img/MaxProff-green.svg" alt="">
                </div>
                <div class="footer__payment">
                    <div class="footer__payment-title">
                        <h6>Любая форма оплаты</h6>
                    </div>
                    <ul class="footer__payment-list">
                        <li><img src="img/cash.svg" alt=""></li>
                        <li><img src="img/sberbank.svg" alt=""></li>
                        <li><img src="img/visa.svg" alt=""></li>
                        <li><img src="img/alfa-bank.svg" alt=""></li>
                        <li><img src="img/mastercard.svg" alt=""></li>
                    </ul>
                </div>
            </div>
            <div class="footer__body-item">
                <div class="footer__services">
                    <h6 class="footer__services-title">
                        Наши услуги
                    </h6>
                    <ul class="footer__services-list">
                        <li>Квартиры</li>
                        <li>Коттеджи</li>
                        <li>Таунхаусы</li>
                        <li>Офисы</li>
                        <li>Инженерные системы</li>
                        <li>География работ</li>
                    </ul>
                </div>
            </div>
            <div class="footer__body-item">
                <ul class="footer__links">
                    <li><a href="">Портфолио</a></li>
                    <li><a href="">Стоимость</a></li>
                    <li><a href="">Акции</a></li>
                    <li><a href="">О компании</a></li>
                    <li><a href="">Статьи</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </div>
            <div class="footer__body-item">
                <ul class="footer__contacts-list">
                    <li>
                        <div class="footer__contact-img">
                            <img src="img/phone-call.svg" alt="">
                        </div>
                        <div class="footer__contact-info">
                            <span class="footer__contact-info-tel">+7 (233) 222-22-22</span>
                            <span  class="footer__contact-text">08:00 - 22:00, без выходных</span>
                            <a class="footer__contact-tel" href="tel:+72332222222">Заказать звонок</a>
                        </div>
                    </li>
                    <li>
                        <div class="footer__contact-img">
                            <img src="img/mail.svg" alt="">
                        </div>
                        <div class="footer__contact-info">
                            <span  class="footer__contact-text">Электронная почта &#64;</span>
                        </div>
                    </li>
                    <li>
                        <div class="footer__contact-img">
                            <img src="img/map-pin-green.svg" alt="">
                        </div>
                        <div class="footer__contact-info">
                            <span  class="footer__contact-text">Адрес</span>
                        </div>
                    </li>
                </ul>
                <ul class="footer__social-list">
                    <li class="footer__social-list-item">
                        <a href="" ><img src="img/facebook.svg" alt=""></a>
                    </li>
                    <li class="footer__social-list-item">
                        <a href="" ><img src="img/youtube.png" alt=""></a>
                    </li>
                    <li  class="footer__social-list-item">
                        <a href=""><img src="img/instagramm.svg" alt=""></a>
                    </li>
                    <li class="footer__social-list-item">
                        <a href="" ><img src="img/telegramm.svg" alt=""></a>
                    </li>
                    <li class="footer__social-list-item">
                        <a href="" ><img src="img/VK.svg" alt=""></a>
                    </li>
                    <li class="footer__social-list-item">
                        <a href="" ><img src="img/odnoklassniki.svg" alt=""></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__confirm">
        <div class="footer__confirm-container container">
            <div class="footer__confirm-item">
                <div class="footer__confirm-info">
                    <span>&copy;  2021 «MaxProff» </span>
                    <a class="footer__confirm-link" href="">Правовая информация</a>
                </div>
            </div>
            <div class="footer__confirm-item">
                Сайт не является публичной офертой и носит информационный характер
            </div>
            <div class="footer__confirm-item">
                <div class="footer__confirm-map">
                    <a href="">Карта сайта</a>
                </div>
            </div>
        </div>
    </div>
</footer>