.form {
  .form__option {
    .form__option-title {
        color: #595959;
        font-weight: bold;
        font-size: 1.6rem;
        line-height: 118.75%;
        margin: 0 0 2rem 0;
    }
    .form__option-body {
      display: flex;
      &>*:not(:last-child) {
        padding: 0 2.3rem 0 0;
      }
    }
  }
  .form__radio {
    input[type=radio] {
      display: none;
      transition: color 0.4s ease;
      &:checked {
        +label {
          color: $light_blue_color;
          &:before {
            background-color: $light_blue_color;
          }
          &:after {
            border: 0.2rem solid white;
            background-color: transparent;
          }
        }
      }
    }
    label {
      cursor: pointer;
      display: inline-block;
      position: relative;
      color: #595959;
      font-size: 1.4rem;
      line-height: 114%;
      padding: 0 0 0 3rem;
      &:before, &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(0, -15%);
        border-radius: 100%;
        transition: background-color 0.4s ease, border 0.4s ease;
      }
      &:before {
        width: 1.8rem;
        height: 1.8rem;
        background-color: #cccccc;
      }
      &:after {
        width: 1.4rem;
        height: 1.4rem;
        border: 0.2rem solid transparent;
        transform: translate(15%, -4%);
        background-color: #f2f2f2;
      }
    }
  }
  .form__range {

  }
  .form__tel {
    input {
      position: relative;
      padding: 1.2rem;

      color: #595959;
      font-size: 1.4rem;
      line-height: 114%;

      border: .1rem solid #CCCCCC;
      &:before {
        content: "+7";
        position: absolute;
        top: 0;
        left: 0;
        color: inherit;
        font-size: inherit;
        line-height: inherit;
      }
    }
  }
}