.opening-list {
  $container_padding_left: 2.7rem;
  $container_padding_right: 2rem;
  padding: 1.5rem $container_padding_right 0 $container_padding_left;
  &>ul {
    position: relative;
    max-height: 16.6rem;
    overflow: hidden;
    transition: all 0.6s ease;
    &.active {
      max-height: 50rem;
      &>li {
        h6 {
          &.grey {
            color: $black_color;
          }
        }
      }
      .opening-list__sublist {
        li {
          &.grey {
            background: url("~@img/check.svg") 0 0 no-repeat;
            color: $black_color;
          }
        }
      }
    }
    &>li {
      padding-bottom: 1.9rem;
      h6 {
        font-weight: 700;
        font-size: 1.4rem;
        line-height: 114%;
        padding: 0 0 0.9rem 0;
        transition: color 0.5s ease;
        &.grey {
          color: #C4C4C4;
        }
      }
    }
  }

  .opening-list__sublist {
    li {
      background: url("~@img/check.svg") 0 0 no-repeat;
      padding-left: 1.6rem;
      font-weight: 400;
      font-size: 1.4rem;
      line-height: 114%;
      &.grey {
        background: url("~@img/check-grey.svg") 0 0 no-repeat;
        color: #C4C4C4;
      }
      &:not(:last-child) {
        padding-bottom: 0.6rem;
      }
    }
  }

  .opening-list__button {
    margin: 2.4rem 0 0 0;
    display: flex;
    justify-content: center;
    &.active {
      a {
        &:after {
          transform: scaleY(-1) translate(0, 50%);
        }
      }
    }
    a {
      position: relative;
      cursor: pointer;
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 116%;
      color: $light_blue_color;
      &:after {
        content: "";
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        top: 50%;
        left: 100%; // Либо 0 либо 100
        transform: translate(0, -50%);
        transition: all 0.5s ease;
        // размеры
        width: 1.1rem;
        height: 1.1rem;
        // отступ от контента
        margin: 0 0 0 0.4rem;
        // иконка
        background: url('~@img/open-arrow.svg') no-repeat center / contain;
      }
    }
  }
}