.section {
  display: flex;
  flex-direction: column;
  &:nth-child(even) {
    background-color: #f8f8f8;
  }
  .section__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 116%;
    @media (max-width: convertPx-em(768)) {
      font-size: 3.6rem;
      line-height: 119%;

    }
  }
  .section__body {

  }
}