body, html{
  font-family: Roboto;
  font-weight: 400;
  background-color: white;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
@media (max-width: convertPx-em(700)) {
  body.lock {
    overflow: hidden;
  }
}
.wrapper {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
$container_padding: 5rem;
.container {
  width: 100%;
  min-height: 100%;
  padding: 0 $container_padding;
  max-width: 134rem;
  margin: 0 auto;
  @media (max-width: convertPx-em(768)) {
    max-width: 65.8rem;
  }
  @media (max-width: convertPx-em(425)) {
    max-width: 38.4rem;
  }
}