.slider {
  position: relative;
  .slider__item {

  }
}
/* Слайдер */
.slick-slider{

}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  position: relative;
}
/* Лента слайдов */
.slick-track{}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{
  cursor: pointer;
  position: absolute;
  top: 40%;
  z-index: 2;
  font-size: 0;
  width: 5.4rem;
  height: 5.4rem;
  //margin: -30px 0 0 0;
  border: none;
}
/* Стрелка влево */
.slick-arrow.slick-prev{
  left: 0;
  background: url("../img/slider-arrow.svg") 50% 50% no-repeat;
  transform: rotate(180deg);
}
/* Стрелка вправо */
.slick-arrow.slick-next{
  background: url("../img/slider-arrow.svg") 50% 50% no-repeat;
  right: 0;
}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{
  display: flex;
}
.slick-dots li{
  position: relative;
  list-style: none;
  cursor: pointer;
  width: 1.8rem;
  height: 1.8rem;
  background-color: #F2F2F2;
  border-radius: 100%;
  border: .2rem solid $light_blue_color;
  &:not(:last-child) {
    margin: 0 1rem 0 0;
  }
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: transparent;
    transition: all 0.5s ease;
  }
}
/* Активная точка */
.slick-dots li.slick-active{
  &:before {
    background-color: $light_blue_color;
  }
}
/* Элемент точки */
.slick-dots li button{
  display: none;
}